body {
    background-image: url("../Prvi-domaci-iteh/image/image1.jpg");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

#myTable {
    width : 90%;
    margin-top: 5%;
    margin-left : 5%;
    background-color: antiquewhite;
    color : black;


}

